<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <title>Đại Học Bách Khoa Hà Nội</title>
	<link rel="stylesheet" type="text/css" href="{% static 'ggmap/style.css ' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ggmap/menu.css ' %}" >

	<script src='https://cdn.firebase.com/v0/firebase.js'></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>
</head>
<script type="module">
  const firebaseConfig = {
  	apiKey: "AIzaSyDnyzhNNeEORTPNdmc8sfFxl13hZx_t73k",
  	authDomain: "lidar-ea564.firebaseapp.com",
  	databaseURL: "https://lidar-ea564-default-rtdb.firebaseio.com",
  	projectId: "lidar-ea564",
  	storageBucket: "lidar-ea564.appspot.com",
  	messagingSenderId: "692475158447",
  	appId: "1:692475158447:web:d0a3fdf6f785447b50995a",
  	measurementId: "G-35VBR13BXS"
  };

  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

  var Command = firebase.database().ref('Command');
  var ForwardTime = firebase.database().ref('ForwardTime')
  function setData():{
	const defaut = {
		Command :"LINE",
		ForwardTime:"10000"
	}
	database.ref("lidar").set(defaut)
		.then(() =>{
			console.log("data has been set!");
		})
		.catch((error) => {
			console.error("Error setting data :", error)
		})
  }
  setData();

</script>
<style>
body{
  background-image: url({% static 'images/background.jpeg ' %});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<body >

	<div class="wrap">
		<div class="header_top">
			<div class="logo">
				<a href="/ggmap"><img src="{% static 'images/hust_logo.png '%}" height="120px" width="80px" alt="" /></a>
				<div class="web-name-title">Trường Đại học Bách Khoa Hà Nội</div>
				<div class="school-name-title">ASE Lab</div>
			</div>
			<div class="clear"></div>
			<div class="menu">
				<ul id="dc_mega-menu-orange" class="dc_mm-orange">
	  				<li><a href="">Home</a></li>
	  				<li><a href="">Sinh viên</a> </li>
	  				<li><a href="">Giáo viên</a></li>
	  				<li><a href="">Công tác</a></li>
	  				<li><a href="https://www.facebook.com/profile.php?id=100021906317686">Liên hệ</a> </li>
	  				<div class="clear"></div>
				</ul>
			</div>
		</div>
	</div>
	<center >
		<div style="position:relative; top : 300px">
			<div style="position:relative; right: 45px ;">
			<b1 >
				<button style="position:relative; bottom : 126px ;color: red;font-size:42px; " name="button" value="OK" type="button" onclick="fnc()">  &#8593  </button>
				<script>
				</script>
			</b1>
			<b2>
				<button style="position:relative;top:10px; right : 41.5px; color: red;font-size:42px; " name="button" value="OK" type="button" onclick="back" >  &#8595  </button>
			</b2>
			</div>
			<div style="position:relative;bottom : 106.5px; left : 42.8px;">
				<b3>
					<button style="position:relative; right : 152px; color: red;font-size:32px; " name="button" value="OK" type="button" onclick="left">  &#8592 </button>
				</b3>
				<b4>
					<button style="position:relative;right : 69.8px;color: red;font-size:32px; " name="button" value="OK" type="button" onclick="rigth">  &#8594 </button>
				</b4>
			</div>
		</div>
	</center>
</body>
</html>